.plate-t1 {
  .plate-t1-background {
    background-image: url('../assets/images/samplePlate.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: 132px;
    width: 600px;
    margin: auto;

    .plate-t1-left-panel {
      position: absolute;
      left: 80px;
      top: 15px;

      input[type=number] {
        width: 50px;
        height: 100px;
        font-size: 55px;
      }
      input[type=text] {
        font-family: yekan;
        width: 100px;
        height: 100px;
        font-size: 55px;
      }
    }
    .plate-t1-right-panel {
      position: absolute;
      left: 475px;
      top: 35px;
      input[type=number] {
        margin: 2px;
        width: 45px;
        height: 80px;
        font-size: 40px;
      }
    }
  }
}
