@import "fonts";

body {
  @extend .w3-yekan;
}

#canvas-background {
  background-size: 651px 200px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

input {
  text-align: center;
}

.arrow-keys {
  i {
    cursor: pointer;
    font-size: 64px;
    position: absolute;
    top: 230px;
  }
  #next {
    right: 150px;
  }

  #previous {
    left: 150px;
  }
}

// plate templates
@import "plateT1";
