@import "fonts";

body {
  @extend .w3-yekan;
}

#canvas {
  // position: absolute;
  // width: 100%;
  width: 600px;
  height: 200px;
}

input {
  text-align: center;
}

.arrow-keys {
  color: red;
  cursor: pointer;
  font-size: 64px;
  position: relative;
  top: 130px;
}

// plate templates
@import "plateT1";
