@import "fonts";

body {
  @extend .w3-yekan;
}

#canvas {
  position: absolute;
  width: 600px;
  height: 200px;
}

input {
  text-align: center;
}

.arrow-keys {
  i {
    color: red;
    cursor: pointer;
    font-size: 64px;
    position: absolute;
    top: 230px;
  }
  #next {
    right: 150px;
  }

  #previous {
    left: 150px;
  }
}

// plate templates
@import "plateT1";
