@font-face {
  font-family: yekan;
  src: url("../assets/fonts/Yekan.ttf"); }

.w3-yekan, body,
.w3-yekan *, body * {
  font-family: yekan; }

#canvas {
  width: 600px;
  height: 200px; }

input {
  text-align: center; }

.arrow-keys {
  color: red;
  cursor: pointer;
  font-size: 64px;
  position: relative;
  top: 130px; }

.plate-t1 .plate-t1-background {
  background-image: url("../assets/images/samplePlate.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 132px;
  width: 600px;
  margin: auto; }
  .plate-t1 .plate-t1-background .plate-t1-left-panel {
    position: absolute;
    left: 80px;
    top: 15px; }
    .plate-t1 .plate-t1-background .plate-t1-left-panel input[type=number] {
      width: 50px;
      height: 100px;
      font-size: 55px; }
    .plate-t1 .plate-t1-background .plate-t1-left-panel input[type=text] {
      font-family: yekan;
      width: 100px;
      height: 100px;
      font-size: 55px; }
  .plate-t1 .plate-t1-background .plate-t1-right-panel {
    position: absolute;
    left: 475px;
    top: 35px; }
    .plate-t1 .plate-t1-background .plate-t1-right-panel input[type=number] {
      margin: 2px;
      width: 45px;
      height: 80px;
      font-size: 40px; }
